<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
	<listeners>
	      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
	      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
	  </listeners>
  <test name="Test">
<!--  	<classes>-->
<!--  		&lt;!&ndash; class name="TC1"></class &ndash;&gt;-->
<!--		<class name="tests.others.TC1" />-->
<!--		<class name="tests.others.TC2" />-->
<!--  	</classes>-->
	  <packages>
		  <package name="tests.others"/>
		  <package name="tests.opensourcecms"/>
	  </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
